.player-wrapper {
  position:relative;
}


.donut {
  width: 100%;
  max-width: 100%;
}

.vinyl-wrapper {
  position:absolute;
  right: 25%;
  top: 25%;
  width: 50%;
}

#spinning {
  animation:spin 4s linear infinite;
}

@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }