.vinyl {
  position: relative;
  top: 0;
  left: 0;
}
.donut {
  position: absolute;
  top: 100px;
  left: 80px; 
}

.playlist-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.donut-wrapper {
  max-width: 50%;
}
