.playlist-table-wrapper {
  /* width: 50%; */
  min-width:300px;
  max-height:500px;
  overflow-y: scroll;
  border-radius: 30px;
  background: #FFB55D;
}
.playlist-table {
  
}

.row-selected {
  background-color: #AF7C40;
}