.playlist-table-wrapper {
  /* width: 50%; */
  width:400px;
  height:450px;
  overflow-y: scroll;
  border-radius: 30px;
  background: #FFB55D;

}
.playlist-table {
  
}

.row-selected {
  background-color: #AF7C40;
}