.row {
  display: flex;
  align-items: center;
  justify-content: center;
}
.vinyl {
  position: relative;
  top: 0;
  left: 0;
}

.donut {
  position: absolute;
  left: 80px; 
  max-width: 50%;
}

.playlist-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.donut-wrapper {
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
}

.view-dropdown{
  padding-top: 20px;
  padding-left: 180px;
}

.info-text {
  font-size: 32px;
  letter-spacing: 0.2em;
  color: white;
}

.info-text-highlight {
  color: #AF7C40;
  font-family: 'Staatliches'
}

.text-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-wrapper {
  padding-bottom: 0;
  background-color: black;
}

.content-wrapper {
  padding-bottom: 100px;
}

.dropdown-item {
  font-weight: bold;
}

.dropdown-menu {
  background-color: #AF7C40;
  min-width: 20px!important;
}

.btn-primary {
  background-color: #AF7C40!important;
  color:black!important;
  font-weight: bold!important;
}

.nav-tabs{
  padding-bottom: 45px!important;
  border-bottom: none!important;
}

.tab {
  border-bottom: 2px white solid;
}

.card {
  background-color: transparent;
}

.tab-item {
  color: white;
  font-weight: bold;
}

.tab-item:hover {
  color: white;
  font-weight: bold;
}

.tab-item:active {
  color: black!important;
}