.playlist-table-wrapper {
  min-width:300px;
  max-height:350px;
  overflow-y: scroll;
  border-radius: 30px;
  background: #e3e3e3;
}

.row-selected {
  background-color: #cbcbcb;
}

.table-body {
  letter-spacing: 0.1em;
}