/* * { 
  border: 1px solid white; 
} */

.App {
  text-align: center;
}

.app {
  /* width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap; */
}

.root {
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-color: #000000;
  color: white;
  font-family: Arial;
  text-align: center;
  height: 100vh;
}

.my-navbar {
  background-color: #AF7C40;
  height: 100%;
  padding-top: 0;
  padding-bottom: 0;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
}

.navbar-expand {

}

.navbar-link {
  color:black;
  font-size: 25px;
  font-weight: bold;
  height: 100%;
  padding-top: 27px;
  padding-bottom: 27px;
  /* padding-bottom: 15px; */
}

.navbar-link:hover {
  color:white;
  background-color: black;
}

.navbar-link:focus{
  color:white;
  background-color: black;
  outline: 0;
}

.navbar-brand {

}
.navbar-brand-name {
  color:black;
  font-size: 50px;
  font-family: 'Staatliches';
}
.navbar-brand-name:hover{
  cursor: pointer;
}

.background-img {
  height: 100vh;
  width: 100%;
  background-image: url("./background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}