.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-color: #000000;
  color: white;
  font-family: Arial;
  text-align: center;
}

.navbar {
  background-color: #AF7C40;
  height: 90px;
  padding-top: 0;
  padding-bottom: 0;
}

.navbar-expand {
  border-bottom-left-radius: 2%30px;
  border-bottom-right-radius: 2%40px;
}

.navbar-link {
  color:black;
  font-size: 25px;
  font-weight: bold;
  height: 100%;
  padding-top: 27px;
  /* padding-bottom: 15px; */
}

.navbar-link:hover {
  color:white;
  background-color: black;
}

.navbar-link:focus{
  color:white;
  background-color: black;
  outline: 0;
}

.navbar-brand {

}
.navbar-brand-name {
  color:black;
  font-size: 50px;
  font-family: 'Staatliches';
}
.navbar-brand-name:hover{
  cursor: pointer;
}